<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/include/header :: headfragment">
</head>
<body>
<div class="wrapper_findo">
    <div class="total_findo">
        <div th:replace="/include/header :: headerfragment"></div>
    <div class="search-list" align="center">
        <table>
            <tr style="text-align: center;">
                <th>종목코드</th>
                <th>종목명</th>
                <th>보유수량</th>
                <th>매수금액</th>
                <th>현재가</th>
                <th>손익</th>
                <th>수익률</th>
                <th>평균단가</th>
            </tr>
            <div th:if="${klist != null}">
                <tr th:each="k : ${klist}">

                    <td align="center">
                        <span th:text="${k.id}"></span>
                    </td>

                    <td style="text-align: center;">
                        <a th:href="@{/port_cont(portfolionumber=${k.id})}"
                           style="text-decoration: none; color:black;">
                            <span th:text="${k.name}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${k.quantity}"></span>
                    </td>
                    <td>
                        <span th:text="${k.tprice}"></span>
                    </td>
                    <td>
                        <span th:text="${k.currentPrice}"></span>
                    </td>
                    <td>
                        <span th:text="${k.profitAndLoss}"></span>
                    </td>
                    <td>
                        <span th:text="${k.eprice}"></span>
                    </td>
                    <td>
                        <span th:text="${k.avgprice}"></span>
                    </td>
                </tr>

            </div>

            <div th:if="${klist == null}">
                <tr>
                    <th colspan="5">검색한 종목이 없습니다.</th>
                </tr>
            </div>
        </table>
    </div>

        <div th:replace="/include/footer :: footerfragment"></div>
    </div>
</div>
</body>
</html>